/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a9348a;
  --ifm-color-primary-dark: #971274;
  --ifm-color-primary-darker: #8f116e;
  --ifm-color-primary-darkest: #760e5a;
  --ifm-color-primary-light: #a9348a;
  --ifm-color-primary-lighter: #c22a99;
  --ifm-color-primary-lightest: #db2aac;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FC3848;
  --ifm-color-primary-dark: #fc1a2c;
  --ifm-color-primary-darker: #fb0a1e;
  --ifm-color-primary-darkest: #d40314;
  --ifm-color-primary-light: #fc5664;
  --ifm-color-primary-lighter: #fd6672;
  --ifm-color-primary-lightest: #fd939c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
